<div class ="px-20">
    <div class="mt-4">
        <h4 class="text-2xl font-bold">Featured Products</h4>
        <div class="flex flex-wrap gap-2">
            @for (Product of featuredProducts; track $index) {
                <div class="w-3/12 shadow ">
                    <div class="border-r-4 w-full">
                        <img [src]="Product.images[0]" alt="Product Image" class="w-full h-52 object-cover" />
                        <div class="p-4">
                            <h6 class="mb-2">{{ Product.name }}</h6>
                            <p>
                                {{ Product.shortDescription }}
                            </p>
                            <div class="flex justify-between items-center">
                                <span class="text-2xl font-bold ">{{ Product.price }}</span>
                                <button mat-flat-button color="primary">Add to Cart</button>

                            </div>

                        </div>  

                    </div>

                </div>
            }

        </div>

    </div>

</div>

<div class ="px-20">
    <div class="mt-4">
        <h4 class="text-2xl font-bold">Newest Products</h4>
        <div class="flex flex-wrap gap-2">
            @for (Product of newProducts; track $index) {
                <div class="w-3/12 shadow ">
                    <div class="border-r-4 w-full">
                        <img [src]="Product.images[0]" alt="Product Image" class="w-full h-52 object-cover" />
                        <div class="p-4">
                            <h6 class="mb-2">{{ Product.name }}</h6>
                            <p>
                                {{ Product.shortDescription }}
                            </p>
                            <div class="flex justify-between items-center">
                                <span class="text-2xl font-bold ">{{ Product.price }}</span>
                                <button mat-flat-button color="primary">Add to Cart</button>

                            </div>

                        </div>  

                    </div>

                </div>
            }

        </div>

    </div>

</div>